<!DOCTYPE html>
<head>
    <title>Edit</title>
</head>
<body>
    <center>
        <h1> 
            Edit page
        </h1>

        <h3>
            Doctor Table
        </h3>
        <hr/>
        <form method = "POST" action = "/updateTable7/{{doctorModel.id}}">
            {%csrf_token%}
        
        <table border = "1">
            <tr>
                <td>Email</td>
                <td><input type="text" name="email" value="{{doctorModel.email}}"></td>
            </tr>
            <tr>
                <td>Degree</td>
                <td><input type="text" name="degree" value="{{doctorModel.degree}}"></td>
            </tr>
            <tr>
                <td>Id</td>
                <td><input type="text" name="id" value="{{doctorModel.id}}" readonly></td>
            </tr>

            <tr>
                <td><input type="submit" value = "Update record"></td>
                <td>        
                    {%  if messages  %}
                    {%  for mess in messages  %}
                    <b>{{mess}}</b>    
            
                    {%  endfor  %}
                    {%  endif  %}
                </td>
            </tr>
        </table>

        <a href = "{% url 'showMain' %}">Home Page</a>
    </form>
    </center>
</body>


</html>