<html>
<head>
    <title>Creating a new record</title>
</head> 
<body>
    <center>
        <h1>Disease table</h1>
        <hr/>
        <form method = "POST">
            {%  csrf_token  %}
            <table border = "1">
            
                <tr>
                    <td>Disease Code</td>
                    <td><input type = "text" placeholder = "Enter Disease Code" name = "diseasecode"> </td>
                </tr>
                <tr>
                    <td>Pathogen</td>
                    <td><input type = "text" placeholder = "Enter Pathogen" name = "pathogen"> </td>
                </tr>
                <tr>
                    <td>Description</td>
                    <td><input type = "text" placeholder = "Enter Description" name = "description"> </td>
                </tr>
                <tr>
                    <td>Id</td>
                    <td><input type = "text" placeholder = "Enter Id" name = "id"> </td>
                </tr>

                <tr>
                    <td><input type = "submit" value = "Insert"/>
                    <td>        
                        {%  if messages  %}
                        {%  for mess in messages  %}
                        <b>{{mess}}</b>    
                
                        {%  endfor  %}
                        {%  endif  %}
                    </td>
                </tr>
            </table>
            <a href = "{% url 'showMain' %}">Home Page</a>
    </center>
</body>
</html>